@font-face{ 
  font-family: 'CalculatorFont';
  src: url('../fonts/Calculator.ttf') format('truetype');
}

@font-face{
  font-family: 'ButtonFont';
  src: url('open-sauce.sans-black.ttf') format('truetype');
}

/* Calculator body */

.calculator {

  border: 5px solid;
  border-radius: 5px;
  background-color: black;
  padding: 10px 10px;
  margin: auto;
  width: 60%;
  
  justify-content: center;
  width: 400px;
}

/* LCD display : */

.display_area {
  border: 1px solid;
  background-color: #9fa1a6;
  margin-bottom: 10px;
}

.display {
padding: 0px 10px;
text-align: right;
font-family: 'CalculatorFont', Arial, sans-serif;
font-size: 25px;
}

/* Buttons : */

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.bottom_row_buttons {
  padding: 2px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 2px;
}

.button {
  padding: 20px 0px;
  text-align: center;
  font-family: 'ButtonFont', Arial, sans-serif;
  font-size: 20px;
}

.all_clear_button {
  background-color: red;
}

.number {
  background-color: whitesmoke;
}

.function {
  background-color: yellow;
}

/* Calculator mode selection row : */
.mode_selection_area {
  padding: 10px 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.mode_buttons {
  padding: 20px 0px;
  text-align: center;
  font-family: 'ButtonFont', Arial, sans-serif;
  font-size: 20px;
}

.basic_button {
  background-color: teal;
}

.scientific_button {
  background-color: blue;
}

.gpt_button {
  background-color: green;
}

.games_button {
  background-color: orangered;
}
