<h1>Open New Account</h1>

<form action="/open_account_confirmation">
  <div>
  <label for="form_full_name">
    Enter your full name: 
  </label>
  <input id="form_full_name" name="full_name" text="text">
  </div>
  
  <label for="form_amount">
    Enter the dollar amount you would like to open your account with:
  </label>
  <input id="form_amount" name="amount" text="text">
  <div>
  <button>
    Create account!
  </button>
 </div>
</form>

<p>
<a href="/">Go home</a>
