<h1>Close My Account</h1>

<form action="/close_account_confirmation">
  <div>
  <label for="form_account_number">
    Please enter your account number: 
  </label>
  <input id="form_account_number" name="account_number" text="text">
  </div>
  
  <button>
    Close Account!
  </button>
 </div>
</form>

<p>
<a href="/">Go home</a>
