<!-- views/index.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Advice of a day</title>
</head>
<body>
  <h1>Random Advice</h1>
  <p><%= @advice %></p>

  <a href="/advice">Another one!</a>
</body>
</html>
