    <div class="buttons">
      <a href="/basic_calc/AC:basic:false"><div class="button all_clear_button">AC</div></a>
      <a href="/basic_calc/CLEAR:basic:false"><div class="button all_clear_button">C</div></a>
      <a href="/basic_calc/PERCENT:basic:true"><div class="button function">%</div></a>
      <a href="/basic_calc/DIV:basic:true"><div class="button function">/</div></a>
      <a href="/basic_calc/7:basic:false"><div class="button number">7</div></a>
      <a href="/basic_calc/8:basic:false"><div class="button number">8</div></a>
      <a href="/basic_calc/9:basic:false"><div class="button number">9</div></a>
      <a href="/basic_calc/MUL:basic:true"><div class="button function">*</div></a>
      <a href="/basic_calc/4:basic:false"><div class="button number">4</div></a>
      <a href="/basic_calc/5:basic:false"><div class="button number">5</div></a>
      <a href="/basic_calc/6:basic:false"><div class="button number">6</div></a>
      <a href="/basic_calc/SUB:basic:true"><div class="button function">-</div></a>
      <a href="/basic_calc/1:basic:false"><div class="button number">1</div></a>
      <a href="/basic_calc/2:basic:false"><div class="button number">2</div></a>
      <a href="/basic_calc/3:basic:false"><div class="button number">3</div></a>
      <a href="/basic_calc/ADD:basic:true"><div class="button function">+</div></a>
    </div>
    <div class="bottom_row_buttons">
          <a href="/basic_calc/0:basic:false"><div class="button number">0</div></a>
          <a href="/basic_calc/DEC:basic:false"><div class="button function">.</div></a>
          <a href="/basic_calc/EQU:basic:false"><div class="button function">=</div></a>      
    </div>
    
