    <div class="buttons">
      <a href="/AC:basic:false"><div class="button all_clear_button">AC</div></a>
      <a href="/CLEAR:basic:false"><div class="button all_clear_button">C</div></a>
      <a href="/PERCENT:basic:true"><div class="button function">%</div></a>
      <a href="/DIV:basic:true"><div class="button function">/</div></a>
      <a href="/7:basic:false"><div class="button number">7</div></a>
      <a href="/8:basic:false"><div class="button number">8</div></a>
      <a href="/9:basic:false"><div class="button number">9</div></a>
      <a href="/MUL:basic:true"><div class="button function">*</div></a>
      <a href="/4:basic:false"><div class="button number">4</div></a>
      <a href="/5:basic:false"><div class="button number">5</div></a>
      <a href="/6:basic:false"><div class="button number">6</div></a>
      <a href="/SUB:basic:true"><div class="button function">-</div></a>
      <a href="/1:basic:false"><div class="button number">1</div></a>
      <a href="/2:basic:false"><div class="button number">2</div></a>
      <a href="/3:basic:false"><div class="button number">3</div></a>
      <a href="/ADD:basic:true"><div class="button function">+</div></a>
    </div>
    <div class="bottom_row_buttons">
          <a href="/0:basic:false"><div class="button number">0</div></a>
          <a href="/DEC:basic:false"><div class="button function">.</div></a>
          <a href="/EQU:basic:false"><div class="button function">=</div></a>      
    </div>
    
