    <div class="buttons">
      <div class="button all_clear_button"><a href="/AC/basic">AC</a></div>
      <div class="button function"><a href="/CHGSIGN/basic">+/-</a></div>
      <div class="button function"><a href="/PERCENT/basic">%</a></div>
      <div class="button function"><a href="/DIV/basic">/</a></div>

      <div class="button number"><a href="/7/basic">7</a></div>
      <div class="button number"><a href="/8/basic">8</a></div>
      <div class="button number"><a href="/9/basic">9</a></div>
      <div class="button function"><a href="/MULT/basic">*</a></div>

      <div class="button number"><a href="/4/basic">4</a></div>
      <div class="button number"><a href="/5/basic">5</a></div>
      <div class="button number"><a href="/6/basic">6</a></div>
      <div class="button function"><a href="/SUB/basic">-</a></div>

      <div class="button number"><a href="/1/basic">1</a></div>
      <div class="button number"><a href="/2/basic">2</a></div>
      <div class="button number"><a href="/3/basic">3</a></div>
      <div class="button function"><a href="/ADD/basic">+</a></div>
    </div>
    <div class="bottom_row_buttons">
          <div class="button number"><a href="/0/basic">0</a></div>
          <div class="button function"><a href="/DEC/basic">.</a></div>
          <div class="button function"><a href="/EQU/basic">=</a></div>
      
    </div>
    
