    <div class="buttons">
      <a href="/process_calc/AC:BAS"><div class="button all_clear_button">AC</div></a>
      <a href="/process_calc/CLEAR:BAS"><div class="button all_clear_button">C</div></a>
      <a href="/process_calc/PERCENT:BAS"><div class="button function">%</div></a>
      <a href="/process_calc/DIV:BAS"><div class="button function">/</div></a>
      <a href="/process_calc/7:BAS"><div class="button number">7</div></a>
      <a href="/process_calc/8:BAS"><div class="button number">8</div></a>
      <a href="/process_calc/9:BAS"><div class="button number">9</div></a>
      <a href="/process_calc/MUL:BAS"><div class="button function">*</div></a>
      <a href="/process_calc/4:BAS"><div class="button number">4</div></a>
      <a href="/process_calc/5:BAS"><div class="button number">5</div></a>
      <a href="/process_calc/6:BAS"><div class="button number">6</div></a>
      <a href="/process_calc/SUB:BAS"><div class="button function">-</div></a>
      <a href="/process_calc/1:BAS"><div class="button number">1</div></a>
      <a href="/process_calc/2:BAS"><div class="button number">2</div></a>
      <a href="/process_calc/3:BAS"><div class="button number">3</div></a>
      <a href="/process_calc/ADD:BAS"><div class="button function">+</div></a>
    </div>
    <div class="bottom_row_buttons">
          <a href="/process_calc/0:BAS"><div class="button number">0</div></a>
          <a href="/process_calc/DEC:BAS"><div class="button function">.</div></a>
          <a href="/process_calc/EQU:BAS"><div class="button function">=</div></a>      
    </div>
    
