    <div class="game_choice_buttons">
    
      <a href="/process_move/0/0"><div class="button games_button">tic-tac-toe</div></a>
      <a href="/process_move/0/1"><div class="button basic_button">Hangman</div></a>


    </div>
    
    <div class="ttt_buttons">
    
      <a href="/process_move/0/0"><div class="button function">*</div></a>
      <a href="/process_move/0/1"><div class="button function">*</div></a>
      <a href="/process_move/0/2"><div class="button function">*</div></a>


      <a href="/process_move/1/0"><div class="button function">*</div></a>
      <a href="/process_move/1/1"><div class="button function">*</div></a>
      <a href="/process_move/1/2"><div class="button function">*</div></a>


      <a href="/process_move/2/0"><div class="button function">*</div></a>
      <a href="/process_move/2/1"><div class="button function">*</div></a>
      <a href="/process_move/2/2"><div class="button function">*</div></a>


    </div>


    <div class="control_buttons">
    
      <a href="/process_move/0/0"><div class="control_button_style number">RESET</div></a>


    </div>
