    <div class="control_buttons">
          <a href="/process_calc/UP:GPT"><div class="control_button_style control_color">▲</div></a>
      <a href="/process_calc/DOWN:GPT"><div class="control_button_style control_color">▼</div></a>
      <a href="/process_calc/AC:GPT"><div class="control_button_style clear_control_color">CLEAR</div></a>

      

    </div>
    