<div class='container'>
  <div>
  <h1 class='header'>Find your favorite recipe!</h1>

        <form method="post" action="/recipe_search">
          <input class="search" name="search_term" id="search_term" type="text"/>
          <button class='find'>Search</button>
        </form>
  </div>   
</div>

         
