<h1>Welcome to the Sinatra Banking App!</h1>
<h3>What would you like to do today?</h3>

<ol>
  <li><a href="/open_account">Open New Account</a></li>
  <li><a href="/check_balance">Check Balance</a></li>
  <li><a href="/deposit">Make a Deposit</a></li>
  <li><a href="/withdraw">Make a Withdrawal</a></li>
  <li><a href="/close_account">Close Account</a></li>
</ol>
