<h2>Click the button below to get your current location:</h2>
<button onclick="getLocation()">Get My Location</button>

<script>
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      alert("Geolocation is not supported by this browser.");
    }
  }

  function showPosition(position) {
    const latitude = position.coords.latitude;
    const longitude = position.coords.longitude;

    window.location.href = `/location?lat=${latitude}&lng=${longitude}`;
  }
</script>

<a href="/movies">Get movies</a>
