<!DOCTYPE html>
<html>
<head>
  <title>Random Chuck Norris Joke</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <div class="banner">
    <img id="chuck-norris-image" src="thumbnails/chuck.jpg" alt="Chuck Norris">
  </div>

  <div class="container">
    <h1>Random Chuck Norris Joke</h1>
    <p><%= @joke %></p>
  </div>

<div class="link">
  <a href="/joke">Another one!</a>
</div>
</body>
</html>
