<!-- views/index.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Random Chuck Norris Joke</title>
</head>
<body>
  <h1>Random Chuck Norris Joke</h1>
  <p><%= @joke %></p>

  <a href="/joke">Another one!</a>
</body>
</html>
