<!DOCTYPE html>
<html>
  <head>
    <title>Random Chuck Norris Joke</title>
    <meta charset="utf-8">
    <meta name="author" content="Margarita Potylitsyna">

    <style>
   body {
  background-color: #001f3f;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  background-image: url('https://www.transparenttextures.com/patterns/45-degree-fabric-light.png');
  background-repeat: repeat;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

p {
  font-size: 1.5em;
  margin-top: 20px;
  max-width: 600px;
}

.banner {
   display: flex;
  justify-content: center;
}

.banner-image {
   width: 128px;
   height: 128px;
   object-fit: cover;
   border-radius: 128px;
}

.container {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.link {
        background-color: white;
        display: flex;
        align-items: center;
        padding: 5px;
        -webkit-box-shadow: 6px 6px 0px 0px rgba(8,13,26,1);
        -moz-box-shadow: 6px 6px 0px 0px rgba(8,13,26,1);
        box-shadow: 6px 6px 0px 0px rgba(8,13,26,1);
      }

      .link a {
        color: #1583df;
        text-decoration: none;
        text-align: center;
        flex-grow: 1;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.9em;
      }
      
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
