<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
      <link rel="stylesheet" href="views/styles/stylesheet.css">
  </head>

  <body>
  <div class="calculator">
      <div class="display_area">
          <div class="display">00000001</div>
          <div class="display">This is a test</div>
          <div class="display">The quick brown fox jumped over the(lazy)dogs</div>
          <div class="display">00000001</div>
          <div class="display">00000001</div>
          <div class="display">00000001</div>
          <div class="display">00000001</div>
          <div class="display">00000001</div>
      </div>

    <%= yield %>

  </div>

  </body>
</html>
