<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <style>

@font-face{ 
  font-family: 'CalculatorFont';
  src: url('views/fonts/Calculator.ttf') format('truetype');
}


.buttons {
  display: grid;
  /*grid-template-columns: 50px 50px 50px 50px;*/
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.button {

  padding: 20px 0px;
  text-align: center;
}

.function {
  background-color: coral;
}

.number {

  background-color: bisque;
}

.calculator {

  border: 5px solid;
  border-radius: 5px;
  background-color: black;
  padding: 10px 10px;
  margin: auto;
  width: 60%;
  
  justify-content: center;
  width: fit-content;
}

.display_area {
    border: 1px solid;
    background-color: #9fa1a6;
    margin-bottom: 10px;
}

.display {
  padding: 0px 10px;
  text-align: right;
  font-family: 'CalculatorFont', Arial, sans-serif;
  font-size: 25px;
}

  </style>
  

  <body>
  <div class="calculator">
      <div class="display_area">
          <div class="display">00000001</div>
          <div class="display">This is a test</div>
          <div class="display">The quick brown fox jumped over the(lazy)dogs</div>
          <div class="display">00000001</div>
          <div class="display">00000001</div>
          <div class="display">00000001</div>
          <div class="display">00000001</div>
          <div class="display">00000001</div>
      </div>

    <%= yield %>

  </div>

  </body>
</html>
