<!DOCTYPE html>
<html>
  <head>
    <title>Mood Ring</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <nav>
      <div><a href="/">Home</a></div>
      <div><a href="/red">Red</a></div>
      <div><a href="/yellow">Yellow</a></div>
      <div><a href="/blue">Blue</a></div>
    </nav>
    <%= yield %>
  </body>
</html>
