<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  
  <body>
    <% gmaps_key = ENV.fetch("GMAPS_KEY") %>
    <% pirate_weather_key = ENV.fetch("PIRATE_WEATHER_KEY") %>

    <% user_location = "Chicago" %>

<% gmaps_url = "https://maps.googleapis.com/maps/api/geocode/json?address=#{user_location}&key=#{gmaps_key}" %>

<% raw_gmaps_data = HTTP.get(gmaps_url) %>

<% parsed_gmaps_data = JSON.parse(raw_gmaps_data) %>

<% results_array = parsed_gmaps_data.fetch("results") %>

<% first_result_hash = results_array.at(0) %>

<% geometry_hash = first_result_hash.fetch("geometry") %>

<% location_hash = geometry_hash.fetch("location") %>

<% latitude = location_hash.fetch("lat") %>

<% longitude = location_hash.fetch("lng") %>

<% pirate_weather_url = "https://api.pirateweather.net/forecast/#{pirate_weather_key}/#{latitude},#{longitude}" %>

<% raw_pirate_weather_data = HTTP.get(pirate_weather_url) %>

<% parsed_pirate_weather_data = JSON.parse(raw_pirate_weather_data) %>

<% currently_hash = parsed_pirate_weather_data.fetch("currently") %>

<% current_temp = currently_hash.fetch("temperature") %>

<!--puts "Chicago  #{current_temp}°F."-->
    <header align="center" style="color: red;"><h1><%= user_location %> <%= current_temp %>°F<h1></header>
    <%= yield %>
  </body>
</html>
