<div class="sci_regular_buttons">
    <a href="/process_calc/POW:SCI"><div class="button math_button">x^y</div></a>
    <a href="/process_calc/SQR:SCI"><div class="button math_button">√x</div></a>
    <a href="/process_calc/NTHRT:SCI"><div class="button math_button">x√y</div></a>
    <a href="/process_calc/AC:SCI"><div class="button all_clear_button">AC</div></a>
    <a href="/process_calc/CLEAR:SCI"><div class="button all_clear_button">C</div></a>


    <a href="/process_calc/E:SCI"><div class="button math_button">e</div></a>
    <a href="/process_calc/PI:SCI"><div class="button math_button">π</div></a>
    <a href="/process_calc/LOG:SCI"><div class="button math_button">log x</div></a>
    <a href="/process_calc/TENPOW:SCI"><div class="button math_button">10^x</div></a>
    <a href="/process_calc/NEGTENPOW:SCI"><div class="button math_button">10^-x</div></a>



    <a href="/process_calc/SIN:SCI"><div class="button math_button">sin x</div></a>
    <a href="/process_calc/COS:SCI"><div class="button math_button">cos x</div></a>
    <a href="/process_calc/TAN:SCI"><div class="button math_button">tan x</div></a>
    <a href="/process_calc/INVSIN:SCI"><div class="button math_button">sin-1 x</div></a>
    <a href="/process_calc/INVCOS:SCI"><div class="button math_button">cos-1 x</div></a>



    <a href="/process_calc/INVTAN:SCI"><div class="button math_button">tan-1 x</div></a>
    <a href="/process_calc/COMMA:SCI"><div class="button math_button">,</div></a>
    <a href="/process_calc/OPENPAREN:SCI"><div class="button math_button">(</div></a>
    <a href="/process_calc/CLOSEPAREN:SCI"><div class="button math_button">)</div></a>
    <a href="/process_calc/DIV:SCI"><div class="button function">/</div></a>



    <a href="/process_calc/7:SCI"><div class="button number">7</div></a>
    <a href="/process_calc/8:SCI"><div class="button number">8</div></a>
    <a href="/process_calc/9:SCI"><div class="button number">9</div></a>
    <a href="/process_calc/RECIP:SCI"><div class="button math_button">1/x</div></a>
    <a href="/process_calc/MUL:SCI"><div class="button function">*</div></a>


    <a href="/process_calc/4:SCI"><div class="button number">4</div></a>
    <a href="/process_calc/5:SCI"><div class="button number">5</div></a>
    <a href="/process_calc/6:SCI"><div class="button number">6</div></a>
    <a href="/process_calc/FACTOR:SCI"><div class="button math_button">x!</div></a>
    <a href="/process_calc/SUB:SCI"><div class="button function">-</div></a>



    <a href="/process_calc/1:SCI"><div class="button number">1</div></a>
    <a href="/process_calc/2:SCI"><div class="button number">2</div></a>
    <a href="/process_calc/3:SCI"><div class="button number">3</div></a>
    <a href="/process_calc/MOD:SCI"><div class="button math_button">MOD</div></a>
    <a href="/process_calc/ADD:SCI"><div class="button function">+</div></a>

</div>


<div class="sci_last_row">
    <a href="/process_calc/0:SCI"><div class="button number">0</div></a>
    <a href="/process_calc/DEC:SCI"><div class="button function">.</div></a>
    <a href="/process_calc/PERCENT:SCI"><div class="button function">%</div></a>
        <a href="/process_calc/EQU:SCI"><div class="button function">=</div></a>
</div>
