<h1>Make a Deposit</h1>

<form action="/deposit_confirmation">
  <div>
  <label for="form_account_number">
    Please enter your account number: 
  </label>
  <input id="form_account_number" name="account_number" text="text">
  </div>
  
  <label for="form_amount">
    Please enter a whole dollar amount you would like to deposit: 
  </label>
  <input id="form_amount" name="amount" text="text">
  <div>
  <button>
    Make Deposit!
  </button>
 </div>
</form>

<p>
<a href="/">Go home</a>
