We can happily assist you with checking your account balance.</h1>
<p>
<form action="/check_balance_confirmation">
  <div>
  <label for="form_account_number">
    Please enter your account number: 
  </label>
  <input id="form_account_number" name="account_number" text="text">
  </div>
  
  <button>
    OK!
  </button>
 </div>
</form>

<p>
<a href="/">Home page</a>
